<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/Assets/logo.jpg" type="image/x-icon"/>
        <title>Life at RIMT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--font-awsome linked here-->
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--cdn-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--w3css file-->
        <link rel="stylesheet" href="/static/StyleSheet/w3.css">
        <link rel="stylesheet" href="static/StyleSheet/w3.css">
      <!--w3css theme color-->
        <link rel="stylesheet" href="/static/StyleSheet/w3-theme-teal.css">
        <link rel="stylesheet" href="static/StyleSheet/w3-theme-teal.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
        <!--cdn-->
        <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
        <!--Animate css connected-->
        <link rel="stylesheet" href="/static/StyleSheet/animate.css">
        <link rel="stylesheet" href="static/StyleSheet/animate.css">
        <!--cdn-->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">-->
       <!--main css file-->
        <link rel="stylesheet" href="/static/StyleSheet/Style.css">
        <link rel="stylesheet" href="static/StyleSheet/Style.css">
        <!--google font used
        font-family: 'Tangerine', cursive;
        font-family: 'Roboto', sans-serif;
        font-family: 'Fredericka the Great', cursive;
        font-family: 'Bungee Shade', cursive;
        -->
        <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Fredericka+the+Great|Roboto|Tangerine" rel="stylesheet">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<style>
html,body,h1,h2,h3,h4,h5 {
    font-family: "Open Sans", sans-serif
}
.sidebarfix{
    position: absolute;
    top: 48px;
    height: 600px;
    }
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/feed/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>RIMT</a>
  <a href="localhost:8069" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="localhost:8069" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="localhost:8069" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="localhost:8069" class="w3-bar-item w3-button">New Assignments</a>
      <a href="localhost:8069" class="w3-bar-item w3-button">New Notices</a>
      <a href="localhost:8069" class="w3-bar-item w3-button">Tomorrow Meeting</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><img src="/static/Assets/img.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">RIMT Life</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Assignments</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Notices</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Meeting</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:65px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
        <div style="position: fixed; top: 65px; width:335px;">
            <div class="w3-card w3-round w3-white" >
        <div class="w3-container">
         <h4 class="w3-center">{{ Current_user.name }}</h4>
         <p class="w3-center"><img src="/static/Assets/img.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{ Current_user.email }}</p>
         <p><i class="fa fa-user-secret fa-fw w3-margin-right w3-text-theme"></i> {{ Current_user.username }}</p>
         <p><i class="fa fa-clock-o fa-fw w3-margin-right w3-text-theme"></i>{{ time.now }}</p>
        </div>
      </div>

      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round" style="margin-top: -10px;">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-dashboard fa-fw w3-margin-right"></i> Dashboard</button>
          <!--<div id="Demo1" class="w3-hide w3-container">-->
            <!--<p>Some text..</p>-->
          <!--</div>-->
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Attendance</button>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-address-card-o fa-fw w3-margin-right"></i> My courses</button>
        </div>
      </div>
      <br>

      <!-- Interests --> 
      <div class="w3-card w3-white w3-hide-small" style="margin-top: -25px;">
                <div class="w3-content w3-card-4 w3-display-container w3-round">
                    <div class="w3-display-container mySlides w3-hover-grayscale">
                        <p class="w3-medium w3-padding-large w3-text-white w3-teal w3-center" style="margin-bottom: -10px;">Science Fest</p>
                        <img src="https://i.imgur.com/jGfx7Jf.jpg" style="width:100%">
                    </div>
                    <div class="w3-display-container mySlides w3-hover-grayscale">
                        <p class="w3-medium w3-padding-large w3-text-white w3-teal w3-center" style="margin-bottom: -10px;">Alumni Meet</p>
                        <img src="https://i.imgur.com/icgSGTk.jpg" style="width:100%">
                    </div>
                    <div class="w3-display-container mySlides w3-hover-grayscale">
                        <p class="w3-medium w3-padding-large w3-text-white w3-teal w3-center" style="margin-bottom: -10px;">Hostel Night</p>
                        <img src="https://i.imgur.com/YuL6IqU.jpg" style="width:100%">
                    </div>
                    <div class="w3-display-container mySlides w3-hover-grayscale">
                        <p class="w3-medium w3-padding-large w3-text-white w3-teal w3-center" style="margin-bottom: -10px;">Toppers Event</p>
                        <img src="https://i.imgur.com/PUJ47Db.jpg" style="width:100%">
                    </div>
                    <div class="w3-display-container mySlides w3-hover-grayscale">
                        <p class="w3-medium w3-padding-large w3-text-white w3-teal w3-center" style="margin-bottom: -10px;">Educational visit</p>
                        <img src="https://i.imgur.com/J05MSL3.jpg" style="width:100%">
                    </div>
                    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>
                <p></p>
      </div>
        </div>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7" style="margin-top: -15px; position: relative; margin-left: 345px">
            <a href="/post/">
                    <button class="w3-btn pri-btn" style="width: 100%"><span class="animated infinite bounceInDown"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Create New Post ...</span></button>
                </a>
       <!--................................new post start from here ..............................-->
                <!--starting of Django for loop for fatching all post-->
                {% for post in posts %}
                    <!--........................post model code start from here.....................-->
                    <div class="w3-section w3-row-padding ">
                        <div class="w3-one w3-center">
                            <div class="w3-card-4 ">
                                <div class="w3-display-container">
                                   <!--.............................. post image url[imgur.com] insert here ................................-->
                                    <img src="{{ post.image_url }}" alt="Image_alt_text" style="width:100%; ">
                                    <div class="w3-display-bottomleft w3-text-teal" style="background: rgba(255,255,255, 0.3); border-top-right-radius: 10px; ">
                                        <ul class="w3-ul">
                                            <li class="w3-bar">
                                                <!--........................user profile image insert....................-->
                                                <img src="/static/Assets/logo.jpg" class="w3-bar-item w3-round" style="width:85px">
                                                <div class="w3-bar-item" style="padding-left: 0px">
                                                   <!--................. posted by user's Name and username insert here..............-->
                                                    <span class="w3-large w3-bold">{{ post.user.name }}</span><br>
                                                    <span class="w3-medium w3-left w3-bold">@{{ post.user.username }}</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--............................post text and other part ...................................-->
                                <div class="w3-container w3-light-grey">
                                    <!--..................automatically post caption insert here .......................-->
                                    <p>{{ post.caption }}</p>
                                    <p class="smart-txt">Posted on {{ post.created_on }}</p>
                                    <p class="w3-bold w3-medium w3-text-teal">{{ post.like_count }} Likes and {{ post.comments_count }} Comments</p>
                                    <ul class="w3-center w3-margin-right">
                                        <li class="w3-show-inline-block">
                                            <!--Like any post function share like data from here-->
                                            <form method="POST" action="/like/">
                                                {% csrf_token %}
                                                <input type="hidden" name="post" value="{{ post.id }}">
                                                {% if post.has_liked %}

                                                    <!--<input type="submit" class="btn btn-default" value="Unlike">-->
                                                <button class="w3-button w3-margin-right w3-xlarge w3-circle w3-teal" type="submit" value="Unlike"><i class="fa fa-thumbs-down"></i></button>

                                                {% else %}
                                                    <!--<input type="submit" class="btn btn-default" value="Like">-->
                                                    <button class="w3-button w3-margin-right w3-xlarge w3-circle w3-teal" type="submit" value="like"><i class="fa fa-thumbs-up"></i></button>

                                                {% endif %}
                                            </form>
                                        </li>

                                        <form method="POST" action="/comment/" class="w3-show-inline-block">
                                            <li class="w3-show-inline-block">
                                                  {% csrf_token %}
                                                    <input type="hidden" name="post" value="{{ post.id }}" >
                                                    <!--<input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">-->
                                                    <input class="w3-input w3-hover-teal w3-large w3-padding w3-round" name="comment_text" type="text" id="comment_text" placeholder="Write a comment..." value="{{ comment_text }}">
                                                  {{ comment_text }}
                                            </li>
                                            <li class="w3-show-inline-block">

                                            <!--<input type="submit" class="btn-default btn" value="Comment">-->
                                            <button class="w3-button w3-margin-left w3-margin-right w3-xlarge w3-circle w3-teal" type="submit" value="Comment"><i class="fa fa-comment"></i></button>

                                            </li>
                                        </form>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <!--..................post comment section .......................-->
                            <ul class="w3-ul w3-card-4">
                                {% for comment in post.comments %}
                                <li class="w3-bar">

                                    <img src="/static/Assets/img.png" class="w3-bar-item w3-circle" style="width:85px">
                                    <div class="w3-bar-item" style="padding-left: 0px;">

                                        <p class="">
                                            <span class="w3-medium w3-bold">{{ comment.user.name }}</span>
                                            <span class="w3-text-teal w3-margin-left w3-large">{{ comment.comment_text }}</span>
                                            <!--<span class="w3-small w3-right "><button class="w3-button w3-margin-left w3-teal w3-round"><i class="fa fa-thumbs-up"></i> Upvote</button></span>-->
                                            <br><span class="w3-small">{{ comment.created_on }}</span>
                                        </p>


                                    </div>
                                    {% endfor %}
                                </li>
                            </ul>
                    </div>
                    <!--end of post Django for loop-->
                {% endfor %}
        <a href="/post/">
                    <button class="w3-btn pri-btn" style="width: 100%"><span class="animated infinite bounceInDown"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Loading ...</span></button>
                </a>
                <!--................................post model code end here..............................-->

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2" style="position: fixed; right: 20px; top: 65px; width:195px;">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="https://i.imgur.com/icgSGTk.jpg" alt="Forest" style="width:100%;">
          <p><strong>Alumni Meet February 2018</strong></p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center w3-padding" style="margin-top: -10px;">
        <div class="w3-container w3-medium">
            <span><strong class="w3-text-teal">Submission Pending</strong></span><br>
          <span> 2 Assignments</span><br>
            <span> 1 Project</span>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding w3-center" style="margin-top: -10px;">
        <p class="w3-text-teal ">Study Material</p>
          <a href=""><span class="w3-btn w3-round">Class Notes</span><br></a>
          <a href=""><span class="w3-btn w3-round">E-Books</span><br></a>
          <a href=""><span class="w3-btn w3-round">Old Question</span></a>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>
<!-- Scroll to top button -->
        <button class="w3-button w3-hover-teal w3-round-large" style="position:fixed; left: 710px; bottom: -15px;" onclick="topFunction()" id="myBtn" title="Go to top">
            <i class='fa w3-xxlarge fa-angle-up animated infinite bounce'></i>
 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

//            javascript code for Events slides
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";
              }
              x[slideIndex-1].style.display = "block";
            }
             // Scroll to top button
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</body>
</html> 
