<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Instagram</title>
    <style>

    </style>
</head>
<body>
    <header style="hight: 100px">
        <ul style="float: left">
            <li>
                <h3>Instagram</h3>
            </li>
            <li>
                <h5>Find it Free From Windows Store</h5>
            </li>
        </ul>
        <button style="border: 1px solid black">Get It</button>
        <h1>Welcome To Smart Instagram App. For A next level of Exprence.</h1>


    </header>


</body>
</html>